.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
Font-size: 16px;
background-image: url(images/pattern-background-desktop.svg);
background-color: hsl(225, 100%, 94%);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: 16px;
}
.container{
border-radius: 5%;    
margin-top:5rem ;
padding: 4rem;   
width: 260px;
height: 470px;   
background-color: white;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-end;
overflow: hidden;
}
.container p,h1{
 text-align: center;
 padding: 0rem;
}
.container img{
    border-radius:7% 7% 0% 0; 
    width: 150%;
    height: 100%;
    object-fit: cover;
}


.firstInnerContainer{
    display: flex;
    flex-direction: row;   
    align-items: center;
    justify-content: space-around;
    background-color:  hsl(225, 100%, 98%);
    width: 350px;
    border-radius: 8%;
    margin-bottom: 2rem; ;
}

.secInnercontainer{
    background-color: hsl(223, 47%, 23%);
    align-items: center;
    justify-content: center;
    width: 300px;
    border-radius: 8%;
    color: aliceblue;
    box-shadow: 15px 15px 15px  hsl(224, 23%, 55%);
}

@media(max-width:1440px){
    .container{
      width: 375px;
    }
  
}
  




